<section class="card">
  <a href="/RECORD PLACEHOLDER/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>By: {{artist_name}}</p>
      <p>Record: {{record_name}}</p>
      <p>Genre: {{genre}}</p>
      <p>Condition: {{condition}}</p>
      <p>Price: {{price}}</p>
      <p>Seller: {{user_name}}</p>
    </div>
  </a>
</section>