<section class="records">
    <img src="/images/{{record.filename}}" alt="{{record.description}}">
    <div class="record-details">

        <p>By: {{artist_name}}</p>
        <p>Record: {{record_name}}</p>
        <p>Genre: {{genre}}</p>
        <p>Condition: {{condition}}</p>
        <p>Price: {{price}}</p>
        <p>Seller: {{user_name}}</p>

    </div>
</section>